//

$primary:       #EE3722;
$secondary:     #FFC00E;
$dark:          #2B2B2B;

@mixin transiton($speed) {
  -webkit-transition: all $speed ease-in-out;
  -moz-transition: all $speed ease-in-out;
  -ms-transition: all $speed ease-in-out;
  -o-transition: all $speed ease-in-out;
  transition: all $speed ease-in-out;
}

.midtown-blog-posts {
  .card-body {
    h3.post-title {
      font-weight: bold;
      color: $dark !important;
      a {
        color: $dark;
      }
    }
    .excerpt {
      font-size: .8em;
      font-weight: 400;
      line-height: 1.15em;
      margin-top: 10px;
    }
    a.link {
      display: block;
      font-weight: 800;
      margin-top: 10px;
      font-size: .8em;
    }
  }

}

.midtown-cta-cards {
  .cta-card {
    min-width: 33%;
  }
}
// XS styles - default: x <= 479px
//xs: 0,
//sm: 576px,
//md: 768px,
//lg: 992px,
//xl: 1200px
@media (max-width: 576px) {

}

// Small styles - default: 480px <= x <= 991px
@media (min-width: 576px) and (max-width: 992px) {

}

// Medium styles - default: 992px <= x <= 1199px
@media (min-width: 992px) and (max-width: 1200px) {

}

// Large styles - default: 1200px <= x
@media (min-width: 1200px) {

}
